@font-face {
  font-family: "A6";
  src: url("fonts/asix.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FontOne";
  src: url("fonts/bcbase.otf") format("opentype");
}

@font-face {
  font-family: "FontNine";
  src: url("fonts/cofo.otf") format("opentype");
}

@font-face {
  font-family: "FontTwo";
  src: url("fonts/bk.otf") format("opentype");
}
@font-face {
  font-family: "FontThree";
  src: url("fonts/baste.otf") format("opentype");
}
@font-face {
  font-family: "FontFour";
  src: url("fonts/fust.otf") format("opentype");
}

@font-face {
    font-family: "FontFive";
    src: url("fonts/gooz.otf") format("opentype");
  }

  @font-face {
    font-family: "FontSix";
    src: url("fonts/pool.ttf") format("opentype");
  }

  @font-face {
    font-family: "FontSeven";
    src: url("fonts/road.otf") format("opentype");
  }

  @font-face {
    font-family: "FontEight";
    src: url("fonts/zak.otf") format("opentype");
  }

  @font-face {
    font-family: "FontTen";
    src: url("fonts/delphia.otf") format("opentype");
  }

body {
  font-family: "FontTen";
  background-size: cover;
  margin: 0;
  overflow: hidden;
  transition: background-image 1s none;
}

.container {
  position: absolute;
  z-index: -500;
  width: 100vw;
  height: 100vh;
}
.random-img {
  position: absolute;
  transition: transform 2s ease-in-out;
  animation: pulse 5s infinite alternate ease-in-out;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}

h2 {
  z-index: 1000;
  position: absolute;
  color: red;
  text-align: center;
  transition: font-family 0.5s ease-in-out;
  text-shadow: 0 0 50px white;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14vw; 
  white-space: nowrap; 
}

.star {
  color: white;
  z-index: -1000;
  position: absolute;
  font-size: 30px; 
  animation: pulse 2s infinite alternate ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}

.nav-container {
  position: relative;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.circle-btn {
  position: absolute;
  top: 3%;
  
  width: 80px;
  height: 80px;
  background-color: red;
  color: white;
  font-size: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: width 0.5s ease, font-size 0.3s ease;
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  gap: 15px;
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
  background-color: none;
  color: red;
  padding: 20px;
  border-radius: 10px;
  position: absolute;
  left: 0;
}

.nav-links a {
  color: red;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 18px;

  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: black;
}


.close-btn {
  color: black;
  padding: 10px 20px;
  font-size: 18px;
  text-decoration: none;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.close-btn:hover {
  background-color: black;
}


.circle-btn.active {
  width: 0px; 
  border-radius: 0; 
}

.circle-btn.active + .nav-links {
  opacity: 1; 
  pointer-events: auto; 
}

.content {
  z-index: 3000;
  position: absolute;
  top: 30%;
  left: 20%;
  display: none;
  box-shadow: 0px 0px 25px 25px rgba(255, 255, 255, 0.8);
  background-color: rgba(255,255,255, 0.8);
  padding: 20px;
  margin-top: 20px;
  width: 60%;
  border-radius: 10px;
  overflow: scroll;
}

.content.active {
  display: block;
}

.content .close-btn {
  font-size: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

#resume{
    position: absolute;
    z-index:1000;
    top: 5%;
    left: 45%;
    width: 35%;
    height: 80%;
}
.pdf{
    z-index:2000;
   
    width: 90%;
     height:100%;
}

#about{
    top: 20%;
    font-size: 120%;
    padding: 5%;
    overflow: scroll;
}

#info{
    position: absolute;
    left: 45%;
    width: 40%;
}